services:
  postgres:
    image: postgres:16
    container_name: postgres.${APP_NAME:-laravel}
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mirus
    networks:
      - bubble
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${APP_NAME:-laravel}-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: mirus
      DB_USERNAME: postgres
      DB_PASSWORD: password
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SESSION_DRIVER: redis
      CACHE_DRIVER: redis
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - bubble

  nginx:
    image: nginx:alpine
    container_name: ${APP_NAME:-laravel}-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - bubble

  redis:
    image: redis:6.2.6
    container_name: ${APP_NAME:-laravel}-redis
    ports:
      - "6379:6379"
    networks:
      - bubble

  metabase:
    image: metabase/metabase:latest
    container_name: metabase.${APP_NAME:-laravel}
    restart: on-failure
    networks:
      - bubble
    ports:
      - "3000:3000"

volumes:
  postgres_data:

networks:
  bubble:
    driver: bridge
